.content-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  color: white;
}

.side-panel {
  height: 100vh; /* 100% of the viewport height */
  background-color: rgb(122, 121, 121); /* Example background color */
  color: white;
}

.profile-badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
}

.profile-side-component-card {
  background-color: rgb(122, 121, 121);
  color: white;
}

.edit-button {
  width: 10%;
  background-color: rgb(122, 121, 121);
  border: none;
  border-radius: 10px;
}

.edit-button-icon {
  color: white;
  font-size: x-large;
  margin-top: 4%;
  margin-bottom: 2%;
}
