.content-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  color: white;
}

.side-panel {
  height: 100vh; /* 100% of the viewport height */
  background-color: rgb(72, 71, 71); /* Example background color */
  color: white;
}

.profile-badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
}

.profile-side-component-card {
  background-color: rgb(122, 121, 121);
  color: white;
}

.edit-button {
  width: 10%;
  background-color: rgb(122, 121, 121);
  border: none;
  border-radius: 10px;
}

.edit-button-icon {
  color: white;
  font-size: x-large;
  margin-top: 4%;
  margin-bottom: 2%;
}

.username-input {
  width: 75%;
  height: auto;
  border: none;
  border-radius: 5px;
}

.bio-input {
  width: 75%;
  height: 200px;
  border: none;
  border-radius: 5px;
}

.bio-input,
.username-input {
  margin-top: 2%;
}

.edit-profile-bio-title,
.edit-profile-username-title {
  margin-top: 5%;
}

.profile-edit-submit-button {
  background-color: rgb(122, 121, 121);
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 40px;
  transition: background-color 0.4s ease;
}

.profile-edit-submit-button:hover {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 40px;
}

.submit-div {
  margin-top: 3%;
}

.profile-pic-div {
  margin-right: 32.5%;
}
.name-bio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-title {
  text-align: center;
  /* flex: 1; */
}

.edit-close-button {
  width: 10%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  margin-right: 2%;
}

.edit-close-button:hover {
  width: 10%;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 2%;
}

.dropZoneG {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  width: 300px;
  height: 200px;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.icon-styling {
  font-size: xx-large;
  margin-left: 4%;
  margin-right: 4%;
}

.icon-label {
  font-size: small;
}

.award-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.my-post-date {
  text-align: left;
  margin-left: 1%;
  margin-top: 1%;
}

.my-post-body {
  text-align: left;
  margin-left: 1%;
}

.my-posts-card {
  background-color: rgb(72, 71, 71);
  color: white;
}

.post-content-container {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 1%;
}

.my-posts-group-title {
  text-align: left;
  font-size: x-large;
}

/* .individual-award-box{
  margin
}
 */
