.content-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}

.side-panel {
  height: 100vh; /* 100% of the viewport height */
  background-color: #f0f0f0; /* Example background color */
}

.profile-badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}
