@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kalam:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(72, 71, 71);
  overflow: hidden;
}

.App {
  background-color: rgb(72, 71, 71);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.groupSuggestionRow {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.groupSuggestionCard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.suggestionsWithImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .profilePic {
  height: 100px;
  width: 100px;
} */

.profilePic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.removeDecoration {
  text-decoration: none;
  color: inherit;
}

.removeDecoration:hover {
  text-decoration: none;
}

.post-user-text {
  font-size: 20;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: white;
}

.navbar-title {
  font-family: 'Kalam', cursive;
  font-weight: 700;
  font-size: 34px;
}

.text-standard {
  font-family: 'Poppins', 'sans-serif';
}

.profile-visit-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-visitor-container {
  display: flex;
  flex-direction: row;
}

.filterText {
  color: white;
  font-family: 'Poppins', 'sans-serif';
  font-size: 50;
  font-weight: 300;
}

.left-side-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80;
}

.filterButton {
  width: 50%;
  height: auto;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: x-large;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid lightgray;
  outline: none;
  color: white;
}

.filterButton:active {
  background-color: lightgrey;
  border: none;
}

.filterButton:hover {
  background-color: rgb(122, 121, 121);
  border: none;
}

.create-group-button {
  font-family: 'Poppins', 'sans-serif';
  border: 1px solid #ffffff8c;
  border-radius: 20px;
  margin-right: 20px;
}

.selected-tags {
  background-color: white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(246, 79, 79);
    color: white;
  }
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-group-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-group-outer {
  margin-top: 10px;
  background-color: rgb(122, 121, 121);
  width: 70%;
  border-radius: 20px;
  color: white;
}

.create-group-container-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-group-input {
  border: none;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.create-group-submit-button {
  width: 300px;
  font-family: Poppins, sans-serif;
}

.group-edit-inner-container {
  margin-top: 3px;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-right: 5px;
  color: white;
}

.my-groups-inner-container {
  /* margin-left: 7%;
  margin-right: 7%;
  border-radius: 15px; */
}

.x-icon {
  color: white;
  width: 100%;
  font-size: x-large;
  transition: 0.5s ease;
}

.close-button {
  background-color: rgb(83, 82, 82);
  border: none;
  margin-top: 15%;
  margin-right: 10%;
  width: 90%;
  text-align: center;
  border-radius: 180px;
  transition: 0.5s ease;
}
.close-button:hover {
  background-color: rgb(188, 186, 186);
  border: none;
  margin-top: 15%;
  margin-right: 10%;
  width: 90%;
  text-align: center;
  border-radius: 180px;
}

.close-button:hover .x-icon {
  color: rgb(248, 58, 58);
}

.my-group-card {
  margin: 20px;
  background-color: rgb(122, 121, 121);
  color: white;
}

.main-view-card {
  background-color: rgb(122, 121, 121);
  color: white;
}

.preview-member-info-card {
  background-color: rgb(122, 121, 121);
  color: white;
}

.member-card {
  background-color: rgb(122, 121, 121);
  color: white;
}

.group-post-card {
  background-color: rgb(122, 121, 121);
  color: white;
}
